<div id="taxon-nav-and-products" class="container">
  <div id="homepage-left-column" class="col-md-2">

        <%= render :partial => 'spree/shared/taxonomies' %>
        <%= render :partial => 'spree/shared/filters' if @taxon.children.empty? %>
  </div>

  <div id="homepage-right-column" class="col-md-10">
    <div data-hook="taxon_products">
      <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
    </div>

    <% unless params[:keywords].present? %>
        <div data-hook="taxon_children">
          <% cache [I18n.locale, @taxon] do %>
              <%= render :partial => 'taxon', :collection => @taxon.children %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>


