$black: #000000;
$creme-grey: #e1d9d6;
$dark-green-rgb:rgb(18,94,29) ;
$dark-green-rgb-70-opacity: rgba(18,94,29,0.7);
$dark-grey: #666666;
$deep-red: #CC0000;
$light-blue: #cbeafc;
$light-grey: #ededed;
$medium-grey: #b7b7b7;
$creme: rgb(255, 241, 187);
$orange-rgb: rgb(255,165,9);
$orange-rgb-70-opacity: rgba(255,165,9,0.7);
$white: #FFFFFF;

// Media queries breakpoints
// --------------------------------------------------

// Extra extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xxs:                  400px;
$screen-xxs-min:              $screen-xxs;
$screen-phone:                $screen-xxs-min;

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:              ($screen-xs-min - 1);
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);