$black: #000000;
$creme-grey: #e1d9d6;
$dark-green-rgb:rgb(18,94,29) ;
$dark-green-rgb-70-opacity: rgba(18,94,29,0.7);
$dark-grey: #666666;
$deep-red: #CC0000;
$light-blue: #cbeafc;
$light-grey: #ededed;
$medium-grey: #b7b7b7;
$creme: rgb(255, 241, 187);
$orange-rgb: rgb(255,165,9);
$orange-rgb-70-opacity: rgba(255,165,9,0.7);
$white: #FFFFFF;