@import 'spree/frontend/variables';
@import 'spree/frontend/xxs_media';


/*
/*  Small Screens
/****************************/

@media (max-width: $screen-sm-max) {
  #large-nav { display: none; }
  #small-nav { display: block; margin: 0; border: none; }
  #small-nav .logo { text-align: center }
  #small-nav .logo img { width: 400px; }
  #small-nav .search {padding: inherit 10px;}
}


/*
/*  Big Screens
/****************************/
@media (min-width:  $screen-md-min) {
  body { margin-top: 86px;}
  #large-nav { display: block; }
  #small-nav { display: none; }
}

/*
/*  Header
/****************************/

.navbar-top { background-color: $light-blue; }
.navbar-bottom { background-color: $dark-green-rgb; }
.search .input-group { margin: 2px inherit;}
.search .input-group input { margin: 10px inherit inherit inherit; border-radius: 0; border-color: $white; height: 30px; padding: 0 0 0 10px; font-weight: 200; font-size: 0.9em}
.search .input-group input:focus { border-color: $dark-green-rgb; }
.search .input-group button{ border: none; background: none; color: $dark-green-rgb;  margin: 4px inherit inherit inherit; }
.cart .badge{background-color: $deep-red; position: absolute; top: 5px; right: 0px; font-size: 11px; width: 18px; height: 18px; padding: 4px;}
.cart .fa-shopping-cart{ color: $dark-green-rgb; position: absolute; top: 0px; right: 0px;}

#large-nav img.logo { height: 50px; }
#large-nav .help  a { color: $white;}
#large-nav .help {text-transform: uppercase; padding: 8px 15px; font-size: 1em; margin-bottom: 0; }


/*
/* small-nav where width < 768px
/****************************/
#small-nav .cart, #small-nav .help  { font-size: 1.2em; padding: 3px 0;}


.annarbortees .breadcrumb {
  padding: 8px 15px;
  font-size: 1em;
  margin-bottom: 0;
  list-style: none;
  background: none;
  text-transform: uppercase;

}

.annarbortees .breadcrumb a { color: #FFFFFF;}

.annarbortees .breadcrumb > li {
  display: inline-block;
}

.annarbortees .breadcrumb > li + li:before {
  content: ">";
  padding: 0 5px;
  color: $white;
  font-weight: bolder;
}

.breadcrumb > .active {
  color: $orange-rgb;
}

footer {
  margin: 50px 0;
}

/*
 *  Taxonomies
 */

#taxonomies {
  background-color: $light-grey;
  margin: 10px 5px;
  padding: 10px 0;

  ul {
    padding: 0;
  }

  .subtaxon {border: solid $orange-rgb 2px; background-color: $light-grey}

  li {
    list-style: none;
    text-align: center;
    text-transform: uppercase;
  }

  li.active {
    background-color: $orange-rgb;
    color: $white;
  }

  h4, h5 {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
  }

  h4 {
    color: $orange-rgb;
    border-bottom: solid 1px $black;
    padding: 0 0 0.5em 0;
  }

  h5 { font-size: 1.3em; }
}

/*
/* Products List
/****************************/

@media (max-width: $screen-xxs-max) {

}

@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  .imprinted_apparel {

  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {


}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-lg-min) {

}


/*
/* Products List (All Sizes)
/****************************/

ul#products {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin: 5px auto;

    .product-image-and-price-wrapper {
      position: relative;
      background-color: $creme-grey;

      .price {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 10px 10px 5px 10px;
        background-color: $orange-rgb;
        color: $white;
      }
    }

    img{
      width: 100%;
      -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
      filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
      -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#000')";
    }
  }

}