@import 'spree/frontend/variables';

/*
/*  Small Screens
/****************************/

@media (max-width: 767px) {
  #large-nav { display: none; }
  #small-nav { display: block; margin: 0; border: none; }
  #small-nav .logo { text-align: center }
  #small-nav .logo img { width: 90%; }
  #small-nav .search {padding: inherit 10px;}
}


/*
/*  Big Screens
/****************************/
@media (min-width: 768px) {
  body { margin-top: 90px;}
  #large-nav { display: block; }
  #small-nav { display: none; }
}

/*
/*  Header
/****************************/

.navbar-top { background-color: $light-blue; }
.navbar-bottom { background-color: $dark-green-rgb; }
.search .input-group { margin: 2px inherit;}

.search .input-group input { margin: 2px inherit; border-radius: 0; border-color: $white; }
.search .input-group input:focus { border-color: $dark-green-rgb; }
.search .input-group button{ border: none; background: none; color: $dark-green-rgb; }
.cart .badge{ background-color: $deep-red; position: absolute; top: 5px; right: 0px; font-size: 11px;}
.cart .fa-shopping-cart{ color: $dark-green-rgb; position: absolute; top: 0px; right: 0px;}

#large-nav img.logo { height: 50px; }
#large-nav .help  a { color: $white;}
#large-nav .help {text-transform: uppercase; padding: 8px 15px; font-size: 1em; margin-bottom: 0; }


/*
/* small-nav where width < 768px
/****************************/
#small-nav .cart, #small-nav .help  { font-size: 1.2em; padding: 3px 0;}


.annarbortees .breadcrumb {
  padding: 8px 15px;
  font-size: 1em;
  margin-bottom: 0;
  list-style: none;
  background: none;
  text-transform: uppercase;

}


.annarbortees .breadcrumb a { color: #FFFFFF;}

.annarbortees .breadcrumb > li {
  display: inline-block;
}

.annarbortees .breadcrumb > li + li:before {
  content: ">";
  padding: 0 5px;
  color: $white;
  font-weight: bolder;
}

.breadcrumb > .active {
  color: $orange-rgb;
}

/*
 *  Taxonomies Nav
 */

#taxonomies {
  background-color: $light-grey;
  padding: 0.3em 0.5em 0.5em 0.5em;

  ul {
    padding: 0;
  }

  .subtaxon {border: solid $orange-rgb 2px; background-color: $light-grey}

  li {
    list-style: none;
    text-align: center;
    margin: inherit auto;
    text-transform: uppercase;
  }

  li.active {
    background-color: $orange-rgb;
    color: $white;
  }

  h4, h5 {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
  }

  h4 {
    color: $orange-rgb;
    border-bottom: solid 1px $black;
    padding: 0 0 0.5em 0;
  }

  h5 { font-size: 1.3em; }
}


/*
 *  Product Images
 */

ul#products {
  list-style: none;

  .price {
    position: absolute;
    bottom: 35px;
    right: 60px;
    background-color: $orange-rgb;
    color: $white;
    width: 60px;
    height: 35px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

.product-image {
  max-width: 160px;
  min-height: 250px;

  background-image:
    radial-gradient(
        $dark-grey,
        $light-grey
    );
}

footer {
  margin: 50px 0;
}