@import 'variables';

/*
/*  Banner Slide
/****************************/

#banner-slides{
  background: image_url('michigan-golf-course.png') no-repeat center center;
  background-size: cover;
  text-align: center;
}

#carousel-homepage {
  height: 250px;
}

#taxon-nav-and-products {

}



