@import 'variables';

/*
/*  Small Screens
/****************************/

@media (max-width: 767px) {
  #variantTabs { margin-top: 10px;}
  #product-options { margin: 0; padding: 0;}
  #product-images {
    background: image_url('michigan-golf-course.png') no-repeat center center;
    background-size: cover;
    text-align: center;
  }

  #variantTabs .tab-content { background: $dark-green-rgb; }
  .annarbortees .nav-tabs > li > a { background: $orange-rgb;}
  .annarbortees .nav-tabs > li.active > a,
  .annarbortees .nav-tabs > li.active > a:hover,
  .annarbortees .nav-tabs > li.active > a:focus {  background: $dark-green-rgb; }
  .annarbortees .nav-tabs > li { float: none; display: inline-block;}
}


/*
/*  Big Screens
/****************************/
@media (min-width: 768px) {
  #variantTabs { margin: 10px; }

  #product-images-and-options{
    background: image_url('michigan-golf-course.png') no-repeat center center;
    background-size: cover;
    text-align: center;
  }

  #variantTabs .tab-content { background: $dark-green-rgb-70-opacity; }
  .annarbortees .nav-tabs > li > a { background: $orange-rgb-70-opacity;}
  .annarbortees .nav-tabs > li.active > a,
  .annarbortees .nav-tabs > li.active > a:hover,
  .annarbortees .nav-tabs > li.active > a:focus {  background: $dark-green-rgb-70-opacity; }
  .annarbortees .nav-tabs > li { float: left;}
}

/*
/*  Product Images
/****************************/

#product-images-and-options{
  text-align: center;
}


#carousel-product {
  height: 400px;
}

#carousel-product img {
  max-height: 400px;
  margin: 0 auto;
}

#carousel-product .item{
  text-align: center;
  height: 400px;
}

#carousel-product .carousel-indicators li {
  border-radius: 0;
  border-width: 2px;
}

#carousel-product .carousel-control.left {
  background-image: none;
  background-image: none;
  background-repeat: none;
  filter: none;
}
#carousel-product .carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
  background-image: none;
  background-repeat: none;
  filter: none;
}


/*
/*  Product Tabs
/****************************/

#variantTabs .tab-content a {
  color: $orange-rgb;
}

#variantTabs .tab-content {
}

.annarbortees .nav-tabs {
  border-bottom: none;
  text-transform: uppercase;
}
.annarbortees .nav-tabs > li {
  margin-bottom: 0px;
  font-weight: 200;
}
.annarbortees .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: none;
  border-radius: 0;
  color: #000000;
}
.annarbortees .nav-tabs > li > a:hover {
  border: none;
}
.annarbortees .nav-tabs > li.active > a,
.annarbortees .nav-tabs > li.active > a:hover,
.annarbortees .nav-tabs > li.active > a:focus {
  color: #FFFFFF;
  border-bottom: none;
  cursor: default;
}
.annarbortees .nav-tabs.nav-justified {
  width: 100%;
  border-bottom: none;
}
.annarbortees .nav-tabs.nav-justified > li {
  float: none;
}
.annarbortees .nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.annarbortees .nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .annarbortees .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .annarbortees .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.annarbortees .nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 0;
}
.annarbortees .nav-tabs.nav-justified > .active > a,
.annarbortees .nav-tabs.nav-justified > .active > a:hover,
.annarbortees .nav-tabs.nav-justified > .active > a:focus {
  border: none;
}
@media (min-width: 768px) {
  .annarbortees .nav-tabs.nav-justified > li > a {
    border-bottom: none;
    border-radius: 0;
  }
  .annarbortees .nav-tabs.nav-justified > .active > a,
  .annarbortees .nav-tabs.nav-justified > .active > a:hover,
  .annarbortees .nav-tabs.nav-justified > .active > a:focus {
    border-bottom: none;
  }
}

/*
/*  Variant buttons
/****************************/

ul.variants {
  margin: 0 auto;
  padding: 0 25px;
  text-align: center;
}


ul.variants li {
  list-style: none;
  float: none;
  display: inline;
}

ul.variants .btn {
  width: 65px;
  height: 65px;
  margin: 5px;
  padding: 5px 5px 0 5px;

  color: #fff;
  font-size: 24px;
  border-radius: 0;
  border: solid 3px $orange-rgb;
  background: none;
  box-shadow: none;
}

ul.variants .active {
  color: #fff;
  background-color: $orange-rgb;
}

#variantTabs .btn-group {
  margin: 1em auto;
}

#variantTabs .btn-group input:last-of-type{
  border-left: solid 1px $light-grey;
}

#variant-price {
  width: 110px;
}

/*
/*  Buy Buttons
/****************************/

.buy-button input {
  color: $black;
  background-color: $orange-rgb;
  font-size: 16px;
  height: 65px;
  box-shadow: none;
  border-radius: 0;
}

.buy-button input:hover{
  background-color: $white;
  color: $black;
}


/*
/*  Product Page
/****************************/

#product_description .product-title {
  text-transform: uppercase;
  color: $dark-green-rgb;
  font-weight: bold;
}


/*
/*  Social Media
/****************************/
#product_share_with_friends,
#product_customer_photos{
  margin: 1em 15%;
  background-color: $light-grey;
  padding: 1em;
}


#product_also_like h2 {
  text-transform: uppercase;
}

#product_share_with_friends h2,
#product_customer_photos h2{
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  border-bottom: solid 1px $black;
}

#product_share_with_friends ul {
  max-width: 240px;
  margin: 1em auto;
  padding: 0;
}

#product_share_with_friends li {
  float: left;
  list-style: none;
  text-align: center;
  width: 50%;
}

#product_share_with_friends i {
  font-size: 60px;
  color: $light-grey;
  background-color: $orange-rgb;
  padding: 10px;
  width: 80px;
  height: 80px;
}

